*.o
*.a
*~
*_out.nc
config_*.nam
*_sza.nc
mod
/practical/data
/practical/ecrad
/build*
/bin/ecrad
/bin/ecrad_ifs
/bin/ecrad_ifs_blocked
*.so
/ecradoff/inputs
/ecradoff/outputs
/ecradoff/clim_files
/ecradoff/era5
/ecradoff/f_src/*.mod
rundir
*__pycache__
